/* QuizApp.css */

.quiz-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.question-section, .score-section {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.answer-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
}

button {
  background-color: #33a0e9;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}
